/* COLORS
light-light-gray: #ececec;
light-gray: #BABABA;
gray: #adb5bd;
dark-gray: #585858;
green: #13795b;
white: #fff;
black: #000;
red: #DC3545;
*/

/* AUTHOR GLOBALS */

html {
    height: 100%;
}
body {
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue",
        Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji",
        "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    height: 100%;
}
main {
}
.bookmarks-main {
    padding: 50px;
}

/* navbar */
header {
    height: 9%;
    width: 100%;
    background-color: #13795b;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
}
.header-right {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.header-right .link {
    margin: 0px 10px;
}
.logo {
    color: #fff;
    font-weight: 600;
    font-size: 30px;
}
.link {
    color: #fff;
    font-weight: 300;
    justify-content: right;
}
.link:hover {
    text-decoration: underline;
}
.login-link {
    border: 1px solid #fff;
    border-radius: 6px;
    padding: 10px;
}

/* login specific navbar */
.login-header {
    background-color: #fff;
}
.login-logo {
    color: #13795b;
    font-weight: 600;
    font-size: 30px;
}

/* footer */
.footer {
    background: #ececec;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 9%;
}

/* HOME PAGE */

/* intro text */
.intro-text {
    text-align: center;
    font-size: 40px;
    font-weight: 300;
    letter-spacing: 1px;
}
.main-container {
    width: 100%;
    height: 82%;
    display: flex;
}
.main-left {
    padding: 100px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.main-left .heading {
    font-size: 3.75vw;
}
.main-left p {
    padding-bottom: 30px;
    font-size: 1.25vw;
    font-weight: 400;
}
.main-left span {
    color: #13795b;
    font-weight: 600;
    font-size: 4.2vw;
}
.main-right {
    color: #fff;
    font-weight: 300;
    background-image: url(../images/photo.png);
    background-color: #13795b;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 60px;
    align-items: center;
    font-size: 28px;
}
.main-right span {
    font-weight: 500;
}
.main-right ul {
    z-index: 50;
    position: absolute;
    list-style-position: outside;
}
.main-right li {
    padding: 10px 0px;
    font-size: 1.9vw;
}
.main-right img {
    z-index: -100;
    object-fit: fill;
}

/* LOGIN PAGE */
.login-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.login {
    border-radius: 12px;
    width: 500px;
    background-color: #ECECEC;
    display: flex;
    flex-direction: column;
    padding: 30px 60px;
}
.welcome-text {
    text-align: center;
    padding-bottom: 20px;
}
h2 {
    font-size: 32px;
    font-weight: 500;
}
input[type="text"],
textarea,
input[type="password"],
input[type="url"] {
    margin: 10px 0px;
    width: 100%;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
    color: black;
    border: 1px solid #BABABA;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
input[type="text"]:focus,
input[type="password"]:focus,
input[type="url"]:focus {
    border-color: #13795b;
    background-color: #fff;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(19, 121, 91, 0.25);
}
input[type="text"]::placeholder,
input[type="password"]::placeholder,
textarea::placeholder,
input[type="url"]::placeholder {
    color: #BABABA;
}
.button-holder {
    text-align: center;
}
input[type="submit"] {
    color: #fff;
    background-color: #13795b;
    border-radius: 6px;
    text-align: center;
    margin: 20px 20px 20px 10px;
    padding: 10px;
}
input[type="submit"]:hover {
    background-color: #0f533f;
}
.error{
	color: #dc3545 !important;
}

/* BOOKMARK PAGE */
#errormsg {
    text-align: center;
    justify-content: center;
    display: flex;
    font-weight: bold;
    color: #dc3545;
}
.bookmark-heading {
    max-width: 1000px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}
.button {
    display: inline-block;
    text-align: center;
    justify-content: center;
    background-color: #13795b;
    color: #fff;
    border-radius: 6px;
    padding: 10px;
}
.button:hover {
    background-color: #0f533f;
}

/* tabs */
.tabs-wrapper {
    display: block;
    position: relative;
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
}
.tabs {
    position: relative;
    margin: 30px 0px;
}
.tabs::before,
.tabs::after {
    content: "";
    display: table;
}
.tabs::after {
    clear: both;
}
.tab {
    float: left;
}
.tab-switch {
    display: none;
}
.tab-label {
    position: relative;
    display: block;
    line-height: 2.75em;
    height: 3em;
    padding: 0 1.618em;
    color: #495057;
    cursor: pointer;
    top: 0;
}
.tab-label:hover {
    color: #000;
}
.tab-content {
    min-height: 200px;
    width: 100%;
    position: absolute;
    z-index: 1;
    top: 2.75em;
    left: 0;
    padding: 1.618rem;
    background: #ECECEC;
    color: #000;
    opacity: 0;
}
.tab-switch:checked + .tab-label {
    color: #13795b;
    background: #ececec;
    border-top: 2px solid #13795b;
    z-index: 1;
}
.tab-switch:checked + label + .tab-content {
    z-index: 2;
    opacity: 1;
}

/* search */
.search-container {
    display: flex;
}
.search-container input[type="text"] {
    width: 1000px;
    background-color: #fff;
    border-radius: 4px;
    margin: 0px 16px 0px 0px;
}

/* bookmarks lists */
.list-group {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    border-radius: 6px;
    margin-top: 16px;
}
.list-group-item {
    position: relative;
    display: block;
    padding: 0.5rem 1rem;
    color: #212529;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #BABABA;
    border-radius: 6px;
    margin-bottom: 8px;
}
.list-group-item:hover {
    z-index: 1;
    text-decoration: none;
    background-color: #f5f5f5;
}
.list-group-item:first-child {
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
}
.list-group-item:last-child {
    border-bottom-right-radius: inherit;
    border-bottom-left-radius: inherit;
}
.list-group-item + .list-group-item {
 /*   border-top-width: 0; */
    border-top-width: 1;
}

/* individual bookmark list styles */ 
.li-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.li-left {
}
.li-right {
    text-align: right;
}
.li-title {
    font-weight: 500;
    font-size: 18px;
}
.li-link {
    font-weight: 300;
    font-style: italic;
    padding: 10px 0px 0px 0px;
}
.li-bookmarkID {
    font-weight: 300;
}
.li-viewcount {
    font-weight: 400;
}

.bookmark-favicon {
    width: 30px;
    padding-right: 10px;
}

/* bookmarks x */
.display {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.xmark {
    display: none;
    color: #000;
    font-size: 18px;
    margin-left: 12px;
}
.xmark:hover {
    color: #DC3545;
}
.display:hover > .xmark {
    display: block;
}
.delete-link {
    padding: 10px;
}

/* ADD BOOMKARKS PAGE */
.add-bookmark-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
#add-bookmark {
    border-radius: 12px;
    width: 500px;
    background-color: #ECECEC;
    display: flex;
    flex-direction: column;
    padding: 40px 60px;
}
.delete-bookmark-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
#delete-bookmark {
    border-radius: 12px;
    width: 500px;
    background-color: #ECECEC;
    display: flex;
    flex-direction: column;
    padding: 30px 60px;
}

/* MODALS */
/* The Modal (background) */
 .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 9999; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
/* Modal Content/Box */
.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: transparent;
    padding: 20px;
    animation-name: animatetop;
    animation-duration: 0.4s
}
/* animation for modals */ 
@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:50%; opacity:1}
}
/* The Close Button */
.close {
    color: #000;
    text-align: right;
    /* font-size: 28px; */
}
.close-words {
    /* font-size: 24px; */
    text-align: center;
    padding: 10px 0px;
    margin: 20px;
    color: #495057;
}
.close:hover,
.close:focus {
    color: #dc3545;
    text-decoration: none;
    cursor: pointer;
} 
.close-words:hover,
.close-words:focus {
    text-decoration: underline;
    color: #495057;
}


/* welcome message for users on bookmarks page */
.hellostatement {
    font-weight: 300;
    color: #fff;
    font-size: 16px;
    text-align: center;
    padding-right: 10px;
}

/* radio button styling */
input[type="radio"]{
    -webkit-appearance: radio;
}
.radio-button-container {
}
label[for="public"] {
    margin-right: 20px;
}
.add-bookmark-text {
    padding-bottom: 10px;
}