/* COLORS
light-gray: #ececec;
gray: #adb5bd;
green: #13795b;
white: #fff;
black: #000;
red: #DC3545;
*/

/* AUTHOR GLOBALS */

html {
    height: 100%;
}
body {
    position: relative;
    margin: 0;
    padding: 0;
    min-height: 100%;
    width: 100%;
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue",
        Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji",
        "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    min-height: calc(100vh - 0px);
}
main {
    padding: 50px;
}

/* navbar */
header {
    height: 75px;
    width: 100%;
    background-color: #13795b;
    padding: 0px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-left {
}
.header-right {
    display: flex;
    justify-content: space-evenly;
}
.header-right .link {
    padding: 0px 10px;
}
.logo {
    color: #fff;
    font-weight: 600;
    font-size: 30px;
}
.link {
    color: #fff;
    font-weight: 300;
    justify-content: right;
}
.link:hover {
    text-decoration: underline;
}

/* login specific navbar */
.login-header {
    background-color: #fff;
}
.login-logo {
    color: #13795b;
    font-weight: 600;
    font-size: 30px;
}

/* footer */
footer {
    background: #ececec;
    width: 100%;
    height: 60px;
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
    z-index: 100;
    padding: 20px;
}
.footer-link:hover {
    text-decoration: underline;
}

/* HOME PAGE */

/* intro text */
.intro-text {
    text-align: center;
    font-size: 40px;
    font-weight: 300;
    letter-spacing: 1px;
}
span {
    color: #13795b;
    font-weight: 600;
    letter-spacing: normal;
}

/* LOGIN PAGE */
.login-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.login {
    border-radius: 12px;
    width: 500px;
    background-color: #dee2e6;
    display: flex;
    flex-direction: column;
    padding: 30px 60px;
}
.welcome-text {
    text-align: center;
    padding-bottom: 20px;
}
h2 {
    font-size: 32px;
    font-weight: 500;
}
.text-label {
}
input[type="text"],
textarea,
input[type="password"] {
    margin: 10px 0px;
    width: 100%;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
    color: black;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
input[type="text"]:focus,
input[type="password"]:focus {
    border-color: #13795b;
    background-color: #fff;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(19, 121, 91, 0.25);
}
input[type="text"]::placeholder,
input[type="password"]::placeholder,
textarea::placeholder {
    color: #dee2e6;
}
.button-holder {
    text-align: center;
}
input[type="submit"] {
    color: #fff;
    background-color: #13795b;
    border-radius: 6px;
    text-align: center;
    margin: 20px 20px 20px 10px;
    padding: 10px;
}
input[type="submit"]:hover {
    background-color: #0f533f;
}

/* BOOKMARK PAGE */
.bookmark-heading {
    max-width: 900px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}
.button {
    text-align: center;
    justify-content: center;
    background-color: #13795b;
    color: #fff;
    border-radius: 6px;
    padding: 10px;
}
.button:hover {
    background-color: #0f533f;
}

/* tabs */
.tabs-wrapper {
    display: block;
    position: relative;
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
}
.tabs {
    position: relative;
    margin: 30px 0px;
}
.tabs::before,
.tabs::after {
    content: "";
    display: table;
}
.tabs::after {
    clear: both;
}
.tab {
    float: left;
}
.tab-switch {
    display: none;
}
.tab-label {
    position: relative;
    display: block;
    line-height: 2.75em;
    height: 3em;
    padding: 0 1.618em;
    color: #495057;
    cursor: pointer;
    top: 0;
}
.tab-label:hover {
    color: #000;
}
.tab-content {
    min-height: 200px;
    width: 100%;
    position: absolute;
    z-index: 1;
    top: 2.75em;
    left: 0;
    padding: 1.618rem;
    background: #ececec;
    color: #000;
    opacity: 0;
}
.tab-switch:checked + .tab-label {
    color: #13795b;
    background: #ececec;
    border-top: 2px solid #13795b;
    z-index: 1;
}
.tab-switch:checked + label + .tab-content {
    z-index: 2;
    opacity: 1;
}

/* bookmarks lists */
.list-group {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    border-radius: 0.25rem;
}
.list-group-item {
    position: relative;
    display: block;
    padding: 0.5rem 1rem;
    color: #212529;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.125);
}
.list-group-item:hover {
    z-index: 1;
    text-decoration: none;
    background-color: #f5f5f5;
}
.list-group-item:first-child {
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
}
.list-group-item:last-child {
    border-bottom-right-radius: inherit;
    border-bottom-left-radius: inherit;
}
.list-group-item + .list-group-item {
    border-top-width: 0;
}
.bookmarks-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 80px;
}
.display {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hide {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    font-weight: 36px;
    color: #dc3545;
    display: none;
}
.display:hover .hide {
    display: block;
}
.delete-link {
}

/* ADD BOOMKARKS PAGE (temporary) */
.add-bookmark-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
#add-bookmark {
    border-radius: 12px;
    width: 500px;
    background-color: #dee2e6;
    display: flex;
    flex-direction: column;
    padding: 30px 60px;
}
