/* COLORS
gray-300: #dee2e6;
gray-500: #adb5bd;
teal-700: #13795b;
white: #fff;
black: #000;
*/

/* AUTHOR GLOBALS */

html {
    height: 100%;
}
body {
    position: relative;
    margin: 0;
    padding: 0;
    min-height: 100%;
    width: 100%;
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue",
        Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji",
        "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
main {
    padding: 50px;
}

/* navbar */
header {
    height: 75px;
    width: 100%;
    background-color: #13795b;
    padding: 0px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo {
    color: #fff;
    font-weight: 600;
    font-size: 30px;
}
.link {
    color: #fff;
    font-weight: 300;
    justify-content: right;
}
.link:hover {
    text-decoration: underline;
}

/* login specific navbar */
.login-header {
    background-color: #fff;
}
.login-logo {
    color: #13795b;
    font-weight: 600;
    font-size: 30px;
}

/* footer */
footer {
    background: #dee2e6;
    width: 100%;
    height: 60px;
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
    padding: 20px;
}
.footer-link:hover {
    text-decoration: underline;
}

/* HOME PAGE */

/* intro text */
.intro-text {
    text-align: center;
    font-size: 40px;
    font-weight: 300;
    letter-spacing: 1px;
}
span {
    color: #13795b;
    font-weight: 600;
    letter-spacing: normal;
}

/* LOGIN PAGE */

.login-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.login {
    border-radius: 12px;
    width: 500px;
    background-color: #dee2e6;
    display: flex;
    flex-direction: column;
    padding: 30px 60px;
}
.welcome-text {
    text-align: center;
    padding-bottom: 20px;
}
h2 {
    font-size: 32px;
    font-weight: 500;
    padding: 10px;
}
.text-label {
}
input[type="text"],
input[type="password"],
textarea {
    margin: 10px 0px;
    width: 100%;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
    color: black;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
input[type="text"]:focus,
input[type="password"]:focus
{
    border-color: #13795b;
    background-color: #fff;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(19, 121, 91, 0.25);
}
input[type="text"]::placeholder,
input[type="password"]::placeholder,
textarea::placeholder {
    color: #dee2e6;
}
.button-holder {
    text-align: center;
}
input[type="submit"] {
    color: #fff;
    background-color: #13795b;
    border-radius: 6px;
    text-align: center;
    margin: 20px 20px 20px 10px;
    padding: 10px;
}
input[type="submit"]:hover {
    background-color: #0f533f;
}
/* BOOKMARK PAGE */
